@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  
  .listItem {
    @apply flex justify-center items-center border-white border rounded-md w-2/3 pt-4 pb-4;
  }

  .groupPage {
    @apply flex flex-col justify-center items-center;
  }

  .landingPage {
    @apply flex flex-col justify-center items-center gap-5 w-screen h-screen text-white text-3xl font-bold;
  }
}
