@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .listItem {
    @apply flex justify-center items-center border-white border rounded-md w-2/3 pt-4 pb-4;
  }

  .groupPage {
    @apply flex flex-col justify-center items-center gap-5 w-full h-screen overflow-x-hidden overflow-y-hidden;
  }

  .groupTitle {
    @apply text-2xl font-bold flex justify-center pt-20 items-center;
  }

  .groupList {
    @apply flex flex-col justify-center items-center pt-20 pb-10 gap-5 overflow-y-scroll w-screen h-screen;
  }

  .itemPage {
    @apply flex flex-col justify-center items-center gap-5 w-full;
  }

  .itemPageValue {
    @apply w-2/3 flex flex-col justify-center gap-5;
  }

  .itemTitle {
    @apply text-2xl font-bold flex justify-center pt-20;
  }

  .descriptionInput {
    @apply border-white border rounded bg-transparent p-2 mb-10;
  }

  .itemSubtitle {
    @apply font-bold text-2xl;
  }

  .deleteItem {
    @apply mt-10 rounded bg-red-600 text-white p-2 font-bold;
  }
  
  .checkbox {
    @apply w-10;
  }
}