@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .listItem {
    @apply flex justify-center items-center border-white border rounded-md w-2/3 pt-4 pb-4;
  }

  .groupPage {
    @apply flex flex-col justify-center items-center gap-5 w-full h-screen overflow-x-hidden overflow-y-hidden;
  }

  .landingPage {
    @apply flex flex-col justify-center items-center gap-8 w-screen h-screen text-white text-xl font-bold;
  }
  .CJGroup {
    @apply border-white border flex justify-center items-center rounded-md p-7 w-3/5;
  }
  .groupTitle {
    @apply text-2xl font-bold flex justify-center pt-20 items-center;
  }

  .groupList {
    @apply flex flex-col justify-center items-center pt-20 pb-10 gap-5 overflow-y-scroll w-screen h-screen;
  }

  .create {
    @apply flex flex-col justify-center items-center gap-2 w-screen h-screen;
  }

  .create > h1 {
    @apply text-3xl font-bold;
  }

  .create > h2 {
    @apply text-xl font-bold;
  }

  .create > .input {
    @apply flex flex-row justify-center gap-2;
  }

  .create > .inputName {
    @apply flex flex-col justify-center gap-2;
  }

  .create > .inputName > input {
    @apply border-white border rounded-md p-2 bg-black;
  }

  .create > .input > .inputl {
    @apply flex flex-col justify-center gap-2;
  }

  .create > .input > .inputl > input {
    @apply border-white border rounded-md p-2 bg-black;
  }

  .join {
    @apply flex flex-col justify-center items-center gap-2 w-screen h-screen;
  }

  .join > h1 {
    @apply text-3xl font-bold;
  }

  .join > input {
    @apply border-white border rounded-md p-2 bg-black;
  }

  .join > button {
    @apply border-white border rounded-md py-2 px-4 bg-black;
  }
}
